* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    scroll-behavior: smooth;
  }

  body {
    min-height: 150vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


    
/* COMIENZO HEADER */


header {
    width: 100%;
    height: 100vh;
    margin-bottom: 0;
}

.nav {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoDom {
    width: 140px;
    max-width: 100%;
    /* margin-right: 20px; */
    right: 0;
}

#navbarDropdownMenuLink {
    display: none;
}

.dropdown-item {
    display: none;
}



@media (min-width: 768px) {
    #navbarDropdownMenuLink {
        display: block;
    }

    .dropdown-item {
        display: block;
    }

    #proyectos-mobile {
        display: none;
    }
    
}


/* CARRUSEL */

.container-carousel {
    margin-top: -30rem;
    margin-right: 1rem;
}


/* ICONOS REDES */

.socialIcons {
    display: inline-flex;
    /* position: fixed; */
    /* bottom: 450px; */
}


@media (min-width: 768px) {
    .fa-brands {
        color: rgba(169, 168, 164, 0.389);
        padding: 5px;
    }
    
    .fa-brands:hover {
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
        border-radius: 3px;
    }
    
    .socialIcons {
        flex-direction: column;
        right: 0;
        list-style: none;
        position: fixed;
        bottom: 450px;
    }
}

.fa-brands {
    color: rgba(169, 168, 164, 0.389);
    padding: 5px;
}

.fa-brands:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

.socialIcons {
    flex-direction: column;
    right: 0;
    list-style: none;
    position: fixed;
    bottom: 450px;
}

/* FIN ICONOS */

/* COMIENZO QUIENESSOMOS */

.main {
    display: flex;
    flex-direction: column;
    top: 0;
    
}

.containerQuienes {
    align-items: center;
    justify-content: center;
    margin-top: -30rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.imgDome {
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    height: 75%;
    object-fit: cover;
    
}

.infoquienes h1 {
    text-align: center;
    font-size: 1.5rem;
    padding: 2rem;
    margin-top: 2rem;
}


.infoquienes p {
    text-align: center;
    padding: 2rem;
    letter-spacing: 2px;
    line-height: 1.5em;
}

@media (min-width: 768px) {
    .main {
        background-color: white;
        width: 100%;
        margin: 8rem auto;
        align-items: center;
    }

    
    .containerQuienes {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        top: 0;
        margin-top: 2rem;
    }
    
    .infoquienes h1 {
        text-align: right;
        font-size: 1.5rem;
        padding: 2rem;
        margin-top: -50px;
    }
    
    .infoquienes p {
        text-align: right;
        padding: 2rem;
        letter-spacing: 2px;
        line-height: 1.5em;
    }
    
    .imgDome {
        width: 100%;
        height: 100%;
        max-height: 500px;
        object-fit: cover;
    }
}



/* FIN QUIENESSOMOS */

/* PROYECTOS */


.container-proyectos {
    width: 100%;
    height: 90%;
    margin: -35rem auto;
}

.linkproyectos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8rem auto;
    width: 90%;
    }

.linkproyectos a {
        text-decoration: none;
    }

    #tituloproyecto {
        display: flex;
        justify-content: left;
        text-align: center;
        font-size: 1rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        letter-spacing: 5px;
        font-weight: bold;
        transition: 0.5s;
    }

    .casaDonulink {
        color: transparent;
        cursor: pointer;
        padding: 1rem 2rem;
        margin: 1rem;
        width: 350px;
        height: 250px;
        border-style: none;
        background-image: url(./Images/Imagen8.jpg);
        background-position: center;
        background-size: cover; 
        transition: 0.8s;
        }

        .acuñalink {
            font-size: 1rem;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: transparent;
            letter-spacing: 10px;
            font-weight: bold;
            cursor: pointer;
            padding: 1rem 2rem;
            margin: 1rem;
            width: 350px;
            height: 250px;
            border-style: none;
            background-image: url(./Images/acuña3.jpg);
            background-position: center;
            background-size: cover;
            /* transition: 0.8s; */
            }
        
            .barreirolink {
                font-size: 1rem;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                color: transparent;
                letter-spacing: 10px;
                font-weight: bold;
                cursor: pointer;
                padding: 1rem 2rem;
                margin: 1rem;
                width: 350px;
                height: 250px;
                border-style: none;
                background-image: url(./Images/Imagen33.jpg);
                background-position: center;
                background-size: cover;
                transition: 0.8s;
                }

                .ispicalink {
                    font-size: 1rem;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    color: transparent;
                    letter-spacing: 10px;
                    font-weight: bold;
                    cursor: pointer;
                    padding: 1rem 2rem;
                    margin: 1rem;
                    width: 350px;
                    height: 250px;
                    border-style: none;
                    background-image: url(./Images/ispica.jpeg);
                    background-position: center;
                    background-size: cover;
                    transition: 0.8s;
                    }

@media (min-width: 768px) {
    .linkproyectos {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 8rem auto;
        width: 90%;
        }

}

@media (min-width: 1170px) {
    .container-proyectos {
        width: 90%;
        margin: -35rem auto;
    }
    
    .linkproyectos {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 8rem auto;
        width: 90%;
        }
    
    .linkproyectos a {
        text-decoration: none;
    }
    
    #tituloproyecto {
        display: flex;
        justify-content: left;
        text-align: center;
        font-size: 1rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        letter-spacing: 5px;
        font-weight: bold;
        transition: 0.5s;
    }
    
    
    .casaDonulink {
    color: transparent;
    cursor: pointer;
    padding: 1rem 2rem;
    margin: 1rem;
    width: 350px;
    height: 250px;
    border-style: none;
    background-image: url(./Images/Imagen8.jpg);
    background-position: center;
    background-size: cover; 
    transition: 0.8s;
    }
    
    
    .casaDonulink:hover {
        color: black;
        transform: scale(1.1);    
    }
    
    .acuñalink {
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: transparent;
    letter-spacing: 10px;
    font-weight: bold;
    cursor: pointer;
    padding: 1rem 2rem;
    margin: 1rem;
    width: 350px;
    height: 250px;
    border-style: none;
    background-image: url(./Images/acuña3.jpg);
    background-position: center;
    background-size: cover;
    transition: 0.8s;
    }
    
    .acuñalink:hover {
        color: black;
        transform: scale(1.1);
    }
    
    .barreirolink {
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: transparent;
    letter-spacing: 10px;
    font-weight: bold;
    cursor: pointer;
    padding: 1rem 2rem;
    margin: 1rem;
    width: 350px;
    height: 250px;
    border-style: none;
    background-image: url(./Images/Imagen33.jpg);
    background-position: center;
    background-size: cover;
    transition: 0.8s;
    }
    
    .barreirolink:hover {
        color: black;
        transform: scale(1.1);
    }
    
    .ispicalink {
        font-size: 1rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: transparent;
        letter-spacing: 10px;
        font-weight: bold;
        cursor: pointer;
        padding: 1rem 2rem;
        margin: 1rem;
        width: 350px;
        height: 250px;
        border-style: none;
        background-image: url(./Images/ispica.jpeg);
        background-position: center;
        background-size: cover;
        transition: 0.8s;
        }
        
    .ispicalink:hover {
        color: black;
            transform: scale(1.1);
        }
}
        
.container-proyectos {
    width: 90%;
    margin: -35rem auto;
}

/* FIN PROYECTOS */

/* comienzo informacion proyectos */

.main {
    display: block;
    justify-content: center;
    margin-top: -35rem;
}

h1 {
    text-align: center;
    margin-bottom: 1rem;
    padding: 1rem;
}

.description__proyectos {
    font-size: 10px;
    letter-spacing: 2px;
    line-height: 2em;
    text-align: center;
    font-weight: 24;
    max-width: 100%;
    margin: 1rem 1rem;
}

.img__proyectos1 {
    /* width: 600px; */
    max-width: 100%;
    margin: 25px;
    height: 400px;
    /* float: left; */
    padding: 0 10px;
    box-sizing: content-box;
}

.img__proyectos2 {
    max-width: 100%;
    padding: 0 10px;
    margin: 25px;
    height: 400px;
    /* box-sizing: content-box; */
    
}

.img__proyectos3 {
    
    max-width: 100%;
    padding: 0 10px;
    margin: 25px;
    height: 400px;
    /* box-sizing: content-box; */
}

.imagenes__proyectos {
    display: flex;
    flex-wrap: nowrap;
    /* flex-direction: row; */
    padding: 0 10px;
    margin: 25px;
    width: 100%;
}

.img__proyectos4 {
    max-width: 50%;
    padding: 0 10px 0 0px;
    /* box-sizing: content-box; */
}

.img__proyectos5 {
    max-width: 50%;
    padding: 0 0 0 10px;
    /* box-sizing: content-box; */
}


@media (min-width: 768px) {
    


.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.container__infoproyectos {
    width: 90%;
}

h1 {
    text-align: right;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.description__proyectos {
    font-size: 15px;
    letter-spacing: 2px;
    line-height: 2em;
    text-align: right;
    font-weight: 24;
    width: 85%;
    max-width: 800px;
    margin: 25px auto;
    right: 0;
}

.texto__proyectos {
    display: flex;
    flex-direction: row;
}

.img__proyectos1 {
    width: 600px;
    margin: 25px;
    height: 400px;
    /* float: left; */
    padding: 0 10px;
    box-sizing: content-box;
}

.img__proyectos2 {
    width: 100%;
    padding: 0 10px;
    margin: 25px;
    height: 400px;
    /* box-sizing: content-box; */
    
}

.img__proyectos3 {
    width: 100%;
    padding: 0 10px;
    margin: 25px;
    height: 400px;
    /* box-sizing: content-box; */
}

.imagenes__proyectos {
    display: flex;
    flex-wrap: nowrap;
    /* flex-direction: row; */
    padding: 0 10px;
    margin: 25px;
    width: 100%;
}

.img__proyectos4 {
    width: 50%;
    padding: 0 10px 0 0px;
    /* box-sizing: content-box; */
}

.img__proyectos5 {
    width: 50%;
    padding: 0 0 0 10px;
    /* box-sizing: content-box; */
}

}
/* FIN INFORMACION PROYECTOS */



/* COMIENZO CONTACTO */

.btn {
    margin-top: 1rem;
}

/* .row {
    padding-top: 1em;
} */

.form--contacto {
    display: grid;
    justify-content: center;
    max-width: 100%;
    margin-top: -40rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.form {
    margin: 25px;
    max-width: 100%;
    color: gray;
    margin-top: 50px;
    padding: 10px;
    border-style: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat (6, 30px);
    grid-template-areas:
    "nombre"
    "apellido"
    "telefono"
    "email"
    "textarea"
    "button";
    /* grid-gap: 5px; */
}

.form input {
    border: solid 1px black;
    width: 300px;
    height: 25px;
    font-size: 20px;
    padding: 20px;
    margin: 5px;
    border-radius: 3px;
    transition: all 0.3s linear;
}

/* .form input:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
} */

/* .field {
    border: solid 1px black;
    font-size: 20px;
    padding: 10px;
    margin: 5px;
    border-radius: 3px;
    transition: all 0.3s linear;
}

.field:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
} */

.nombre {
    grid-area: nombre;
}

.apellido {
    grid-area: apellido;
}

.telefono {
    grid-area: telefono;
}

.email {
    grid-area: email;
}
.textarea {
    font-size: 20px;
    border-radius: 3px;
    height: 235px;
    width: 325px;
    padding: 20px;
    transition: all 0.3s linear;
    grid-area: textarea;
    transition: all 0.5s;
}

/* .textarea:hover {
    box-shadow: 0 0 10px rgba(194, 199, 209, 0.4);
    transform: scale(1.03);
} */

.button {
    width: 50%;
    height: 25px;
    margin-top: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 5px;
    grid-area: button;
    transition: 0.3s;
}

/* button:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
    background: radial-gradient(rgb(243, 242, 242), rgb(163, 162, 162));
} */

/* #info {
    margin-top: 25px;
    display: grid;
    justify-content: center;
} */

.map {
    display: grid;
    justify-content: center;
    margin: 25px;
/*     height: 350px; */
    /* max-width: 100%; */
    /* width: 100%; */

}

@media (min-width: 768px) {
    
    .form--contacto {
        display: grid;
        justify-content: center;
        margin-top: -35rem;
        width: 90%;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    }
    
    .form {
        margin: 25px;
        width: 100%;
        color: gray;
        margin-top: 50px;
        padding: 10px;
        border-style: none;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat (5, 30px);
        grid-template-areas:
        "nombre textarea"
        "apellido textarea"
        "telefono textarea"
        "email textarea"
        "button button";
        /* grid-gap: 5px; */
    }
    
    .form input {
        border: solid 1px black;
        width: 300px;
        height: 25px;
        font-size: 20px;
        padding: 20px;
        margin: 5px;
        border-radius: 3px;
        transition: all 0.3s linear;
    }
    
    .form input:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
        transform: scale(1.05);
    }
    
    /* .field {
        border: solid 1px black;
        font-size: 20px;
        padding: 10px;
        margin: 5px;
        border-radius: 3px;
        transition: all 0.3s linear;
    }
    
    .field:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
        transform: scale(1.05);
    } */
    
    .nombre {
        grid-area: nombre;
    }
    
    .apellido {
        grid-area: apellido;
    }
    
    .telefono {
        grid-area: telefono;
    }
    
    .email {
        grid-area: email;
    }
    .textarea {
        font-size: 20px;
        border-radius: 3px;
        height: 235px;
        width: 325px;
        padding: 20px;
        transition: all 0.3s linear;
        grid-area: textarea;
        transition: all 0.5s;
    }
    
    .textarea:hover {
        box-shadow: 0 0 10px rgba(194, 199, 209, 0.4);
        transform: scale(1.03);
    }
    
    .button {
        width: 100%;
        height: 25px;
        margin-top: 25px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        border-radius: 5px;
        grid-area: button;
        transition: 0.3s;
    }
    
/*     button:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
        transform: scale(1.05);
        background: radial-gradient(rgb(243, 242, 242), rgb(163, 162, 162));
    } */
    
    /* #info {
        margin-top: 25px;
        display: grid;
        justify-content: center;
    } */
    
    .map {
        display: grid;
        justify-content: center;
        margin: 25px;
        height: 350px;
        max-width: 100%;
    
    }
}

/* FIN CONTACTO */


/* COMIENZO FOOTER */

.footer {
    bottom: 0;
    max-width: 100%;
}

footer h4 {
    background-color: #f2f2f2;
    padding: 5px 0;
    text-align: center;
    margin-top: 25rem;
    margin-bottom: 0%;
    font-size: 12px;
    text-align: center;
    font-weight: 25;
    color: black;
    background-color: #f2f2f2;
    
}

/* FIN FOOTER */





